@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme{
    --font-sans:'Open Sans','Nunito','Verdana';
    --font-mono:'Fira Code',monospace;
    --color-surface:var(--color-white);
    --color-surface-variant:var(--color-gray-50);
    --color-content:var(--color-gray-800);
    --color-primary:var(--color-yellow-500);
    --color-secondary:var(--color-teal-500);
    --color-zinc:var(--color-zinc-800);
    --color-inside:var(--color-white);

    --color-accent:var(--color-gray-500);
    --radius-primary:var(--radius-md);


    /*Dark mode variables*/
    --color-surface-dark:var(--color-slate-800);
    --color-content-dark:var(--color-gray-100);
    --color-surface-variant-dark:var(--color-slate-700);
    --color-primary-dark:var(--color-yellow-300);
    --color-secondary-dark:var(--color-teal-300);
    --color-zinc-dark:var(--color-zinc-100);
}
@layer base{
    *{
        @apply transition-all duration-150 ease-in;
    }
    html{
        @apply scroll-smooth;
    }
    body{
        @apply break-words min-h-screen bg-surface text-base md:text-base
         text-content dark:bg-surface-dark dark:text-content-dark;
    }
    h1,h2,h3,h4,h5,h6{
        @apply font-semibold mb-4;
    }
    h1{
        @apply text-3xl md:text-4xl;
    }
    h2{
        @apply text-2xl md:text-3xl;
    }
    h3{
        @apply text-xl md:text-2xl;
    }
    button,.btn{
        @apply inline-flex items-center justify-center text-center px-4 py-2 cursor-pointer
        text-content dark:text-content-dark font-bold dark:font-semibold
        rounded-primary focus:outline-none focus-visible:ring-4 focus-visible:ring-primary/50
        dark:focus-visible:ring-primary-dark/80 text-base md:text-base
        ;
    }
    a{
        @apply text-primary dark:text-primary-dark focus:outline-none focus-visible:underline;
    }
    img,.img{
        @apply block w-full mx-auto h-auto object-cover object-center;
    }
    section{
        @apply my-4 last-of-type:mt-4 last-of-type:mb-0;
    }
    code,.code{
        @apply font-mono text-base;
    }
    
}

@utility a-container{
    @apply container mx-auto p-4;
}
@utility logo-img{
    @apply w-8 h-8;
}
@utility btn-primary{
    @apply bg-primary hover:bg-primary/80 text-inside active:bg-primary
     focus-visible:ring-primary/50
    dark:bg-primary-dark dark:text-content dark:hover:bg-primary-dark/90
     dark:active:bg-primary-dark
    ;
}

@utility btn-ghost-primary{
    @apply hover:bg-primary/10 hover:text-primary dark:hover:bg-primary-dark/20
    dark:hover:text-primary-dark
    ;
}
@utility btn-secondary{
    @apply bg-secondary hover:bg-secondary/80 text-inside active:bg-secondary
     focus-visible:ring-secondary/50
    dark:bg-secondary-dark dark:text-content dark:hover:bg-secondary-dark/90
     dark:active:bg-secondary-dark;
}
@utility btn-ghost-secondary{
     @apply hover:bg-secondary/10 hover:text-secondary dark:hover:bg-secondary-dark/20
    dark:hover:text-secondary-dark focus-visible:ring-secondary/50
     dark:focus-visible:ring-secondary-dark/80
    ;
}

@utility btn-ghost{
    @apply hover:bg-accent/10;
}
@utility icon{
    @apply text-lg lg:text-xl;
}
@utility simple-flex{
    @apply flex items-center justify-center gap-4 flex-wrap;
}

@utility main-nav{
    @apply flex items-center sticky top-0 z-10 h-14 border-b-2 border-accent/20
     bg-white/50 dark:bg-surface-dark/50 backdrop-blur-xl px-6;
}
@utility main-flex{
    @apply flex flex-col-reverse lg:flex-row; 
}
@utility main-sidebar{
    @apply hidden lg:block flex-1 lg:flex-1/4 border-r-2 border-accent/20
     h-[91vh] overflow-x-hidden overflow-y-auto  sticky top-14 z-15 
     bg-surface dark:bg-surface-dark;
}

@utility main-content{
    @apply flex-1 lg:flex-3/4 lg:pl-4 bg-surface-variant dark:bg-surface-dark overflow-x-auto;
}

@utility subtitle{
    @apply text-accent text-sm inline-block; 
}
@utility sidebar-nav{
    @apply mt-4;
}
@utility sidebar-nav-item{
    @apply flex items-center gap-2 w-full px-4 py-3 
    text-content dark:text-content-dark hover:text-primary
     dark:hover:text-primary-dark 
     focus-visible:no-underline focus-visible:bg-primary/10 focus-visible:text-primary
     dark:focus-visible:text-primary-dark
    ;
}

@utility sidebar-nav-item-active{
    @apply bg-primary/10 text-primary dark:bg-primary-dark/10 dark:text-primary-dark
    ;
}
@utility current-page-text{
    @apply text-accent text-sm;
}
@utility hero-box{
    @apply w-full mx-auto text-center flex items-center justify-center relative p-4
    bg-linear-to-r from-primary-dark to-primary
    text-inside h-[50vh] rounded-primary mb-6 text-4xl;
}